<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel Log</title>
    <link rel="stylesheet" href="/css/dashboard.css" />
    <link
      href="
https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css
"
      rel="stylesheet"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/createPost.css" />
  </head>
  <body>
    <div class="container1">
      <%- include('./partials/sidebar') %>

      <div class="content">
        <script
          src="https://cdn.tiny.cloud/1/gxpuvlrldetac5uoz7ss53ao47siwkgtmo6a6wfrv70g4fxc/tinymce/5/tinymce.min.js"
          referrerpolicy="origin"
        ></script>
        <script>
          tinymce.init({
            selector: ".editor",
            height: 500,
            plugins: [
              "advlist autolink lists link image charmap print preview anchor",
              "searchreplace visualblocks code fullscreen",
              "insertdatetime media table paste code help wordcount",
            ],
            toolbar:
              "undo redo | formatselect | " +
              "bold italic backcolor | alignleft aligncenter " +
              "alignright alignjustify | bullist numlist outdent indent | " +
              "removeformat | help",
            content_css: "//www.tiny.cloud/css/codepen.min.css",
          });
        </script>

        <div class="card p-4">
          <h4 class="text-center mb-4">
            Share Your Amazing Travel Experience and let the world wander
            through the chapters of your journey.
          </h4>
          <form
            method="post"
            enctype="multipart/form-data"
            action="/uploadPost"
          >
            <div class="mb-3">
              <input
                class="form-control"
                type="text"
                placeholder="Title"
                name="title"
                aria-label="Post Title"
                style="max-width: 100%;"
              />
            </div>
            <div class="mb-3">
              <input
                class="form-control"
                type="text"
                placeholder="location"
                name="location"
                aria-label="Post Title"
                style="max-width: 100%;"
              />
            </div>
            <div class="mb-3">
              <input
                class="form-control"
                type="text"
                placeholder="Short Description of 1 or 2 line"
                name="description"
                style="max-width: 100%;"
                aria-label="Post Title"
              />
            </div>
            <div class="mb-3">
              <label for="formFile" class="form-label"
                >Upload Cover Image</label
              >
              <input
                class="form-control"
                type="file"
                id="formFile"
                name="coverImage"
                style="max-width: 100%;"
              />
            </div>
            <div class="mb-3">
              <label for="editor" class="form-label"
                >Share Your Travel Experience!</label
              >
              <textarea
                class="editor form-control"
                rows="6"
                name="body"
              ></textarea>
            </div>
            <input
              name="createdBy"
              id="createdBy"
              style="visibility: hidden"
              value="<%= user._id %>"
            />
            <button
              type="submit"
              class="btn btn-dark btn-lg"
              id="submit-btn"
              style="position: absolute; right: 4%"
            >
              Create Post
            </button>
          </form>
        </div>
      </div>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const searchInput = document.getElementById("search-input");
        const resultDiv = document.querySelector("#result");

        searchInput.addEventListener("input", function () {
          const searchTerm = searchInput.value;
          fetch(`http://13.51.79.102/search?title=${searchTerm}`)
            .then((response) => response.json())
            .then((data) => {
              resultDiv.innerHTML = "";
              data.forEach((post) => {
                const postElement = document.createElement("li");
                postElement.classList.add("list-group-item");
                postElement.setAttribute("id", post._id);
                postElement.addEventListener("click", function () {
                  window.location.href = `/viewpost/${post._id}`;
                });
                postElement.innerHTML = `
            ${post.title}
          `;
                resultDiv.appendChild(postElement);
              });
            })
            .catch((error) => {
              console.error("Error fetching search results:", error);
            });
        });
      });
    </script>
  </body>
</html>
