<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <%- include('./partials/nav') %>
   

    <div class="main">
      <div id="form-div">
        <div class="login-email-header">
          <h3>Login</h3>
        </div>
        <form action="/login" method="post">
          <div class="form-group">
            <label for="Username">Email</label>
            <input
              class="form-control"
              id="login_username"
              type="text"
              data-val="true"
              data-val-required="Username-Required"
              name="Username"
            />
          </div>
          <div class="form-group">
            <label for="Password">Password</label>
            <input
              type="password"
              class="form-control"
              autocomplete="off"
              id="login_password"
              data-val="true"
              data-val-required="Password-Required"
              name="password"
            />
            
          </div>
          <div class="form-group">
            <button
              id="btn-login"
              class="btn btn-login"
              type="submit"
            >
              Login
            </button>
            <a href="/signup" onclick="ToggleForgotPassword(); return false;"
              >Don't Have Account?</a
            >
            <a href="/forgot-password" onclick="ToggleForgotPassword(); return false;"
              >forgot-password?</a
            >
          </div>
        </form>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
