body {
    font-family: 'Nunito', sans-serif;
    color: #333333;
    /* box-sizing: border-box; */
    overflow: hidden
}

.main {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0;
    display: flex;
    align-items: center;
}

#navbar {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.main div {
    margin-left: auto;
    margin-right: auto;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.main form button {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

input {
    width: 100%;
}

#search-form input {
    display: none;
}

.buttons {
    display: none;
}


.form-group {
    margin-bottom: 1rem;
}

label {
    display: inline-block;
    width: 100%;
    text-align: left;
    font-size: 9pt;
    margin: 0;
    color: #fff;
}

.form-group input {
    background-color: transparent;
    color: #fff;
    border: 0;
    border-bottom: 1px solid;
    border-radius: 0;
    padding: 4px;
    transition: all .5s ease-in-out;
    width: 100%;
}

.btn-login {
    margin-top: 10px;
    color: #343a40;
    background-color: #fff;
    box-shadow: none;
    transition: color .3s ease-in-out;
    width: 100%;
}

.btn-login:hover {
    border: 1px solid white;
    color: white;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    color: #fff;
    transition: color .3s ease-in-out;
}

.login-email-header {
    color: #fff;
}

#form-div:hover {


    backdrop-filter: blur(10px);
    /* Adjust the blur amount as needed */
    background-color: rgba(255, 255, 255, 0.1);
    /* Adjust the background color and opacity */
    border: none;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.01);

}

#form-div {
    border-radius: 8px;

    border: 1px solid white;


}

input:focus {
    outline: none I !important;
    background-color: transparent !important;
}


body {
    background-image: url('../images/login-signup-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#navbar {
    background-color: transparent !important;
    border-bottom: none !important;
    box-shadow: none !important;
}

@media screen and (max-width: 480px) {
    .main div {
        padding: 10px;
    }

    #form-div {
        border: none;
    }
    .form-group{
        margin-bottom: 0px !important;
    }
}