body {
    font-family: 'Nunito', sans-serif;

    box-sizing: border-box
}

.cover-img {
    height: 600px;
    border-radius: 1.5em;
    margin-bottom: 3em;
}

.place-ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5em 0;
}

.place-li {
    color: #FAA41F;
    font-size: 1.5em;
    font-weight: bold;
}

.date-li {
    font-size: 1.5em;

    display: flex;
    color: #d3d3d3;
    font-weight: bold;
}

.date-li::before {
    display: inline-block;
    padding-right: 1.2em;
    padding-left: 1.2em;
    color: #FAA41F;
    content: '/';
}

.post-heading {

    font-family: 'Nunito', sans-serif;
    margin-bottom: 0.5em;
    margin-top: 0.5em;

}

#posts {
    padding: 5em;
    padding-top: 0;
}

.profile {
    display: flex;
    flex-direction: row;
    padding: 10px;
    width: 70%;
    align-items: center;
}

.profile img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid rgb(246, 246, 246);
    box-shadow: rgba(33, 33, 33, 0.2) 0px 0px 11px;
    object-fit: fill;
}

#content img {
    border-radius: 1.5em;
    width: 100%;
    height: auto;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    visibility: hidden;
}

#search-form {

    visibility: hidden;
}

.colored-line {
    border-top: 2px solid rgb(245, 151, 10);
    width: 100%;
    margin: 20px 0;
}

#navbar {
    background-color: #051c48 !important;
    border-bottom: none !important;
    box-shadow: none !important;
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #FAA41F;
}


nav {
    padding: 10px;
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 1.2em;
    margin-bottom: 20px;
}

#home-link::after {
    display: inline-block;
    padding-right: 1.2em;
    padding-left: 1.2em;
    color: #FAA41F;
    content: '/';
}

.post-title {
    /* Styles for the post title */
}


@media screen and (max-width: 480px) {
    nav #search-input {
        display: none !important;
    }
    nav .buttons a {
      display: none;
    }

  
    #posts {
        padding: 1em;
        padding-top: 0;
    }

    .cover-img {
        height: 260px;
        border-radius: 1.5em;
        margin-bottom: 3em;
    }

    #like-comment {
        position: relative !important;
        margin-left: 1em !important;
    }

    .place-ul {
        font-size: small !important;
    }

    #post-card {
        width: 300px !important;
        height: 300px  !important;
    }
}